@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html
@model EPiServer.Core.ContentReference

@if (Model != null)
{
    <a href="@PageEditing.GetEditUrl(Model)" target="_blank">
        @Model.ID
    </a>
}
