@using EPiServer.Editor
@model ContentReferenceModel

@if (Model != null)
{
    <a href="@PageEditing.GetEditUrlForLanguage(Model.ContentReference, Model.Language)" target="_blank">
        @Model.ContentReference.ID
    </a>
}
