@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage<EPiServer.Core.ContentReference>

@if (Model != null)
{
    <a href="@PageEditing.GetEditUrl(Model)" target="_blank">
        <img src="@Url.ContentUrl(Model)/thumbnail" alt="@Model.ID" />
    </a>
}
