<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="Zone.Episerver.PropertyViewer" clientResourceRelativePath="" tags="EPiServerModulePackage EPiServerAddOn Episerver Zone" viewengine="Razor">
  <assemblies>
    <add assembly="Zone.Episerver.PropertyViewer" />
  </assemblies>
</module>
