@using EPiServer.Editor
@inherits System.Web.Mvc.WebViewPage<Zone.Episerver.PropertyViewer.Models.PropertyValuesModel>

<table class="epi-default">
    <colgroup>
        <col style="width:10%">
        <col style="width:85%">
        <col style="width:5%">
    </colgroup>
    <thead>
        <tr>
            <th>Language</th>
            <th>Value</th>
            <th>Edit</th>
        </tr> 
    </thead>
    @foreach (var item in Model.PropertyValues)
    {
        <tr>
            <td>
                @item.Language
            </td>
            <td>
                @RenderValue(item.Value)
            </td>
            <td>
                <a href="@PageEditing.GetEditUrl(item.ContentLink)" target="_blank">
                    <img src="/App_Themes/Default/Images/Tools/png/edit.png" alt="Edit" />
                </a>
            </td>
        </tr>
    }
</table>

@helper RenderValue(string propertyValue)
{
    if (propertyValue == "True")
    {
        <img src="/App_Themes/Default/Images/Tools/png/Check.png" alt="True" />
    }
    else
    {
        @propertyValue
    }
}
