@using EPiServer.Editor
@model Zone.Episerver.PropertyViewer.Models.PropertyValuesModel

<table class="epi-default">
    <colgroup>
        <col style="width:10%">
        <col style="width:85%">
        <col style="width:5%">
    </colgroup>
    <thead>
        <tr>
            <th>Language</th>
            <th>Value</th>
            <th>Edit</th>
        </tr>
    </thead>
    @for (var i = 0; i < Model.PropertyValues.Count; i++)
    {
        <tr>
            <td>
                @Model.PropertyValues[i].Language
            </td>
            <td>
                @Html.DisplayFor(m => m.PropertyValues[i].Property, new { language = Model.PropertyValues[i].Language})
            </td>
            <td>
                <a href="@PageEditing.GetEditUrlForLanguage(Model.PropertyValues[i].ContentLink, Model.PropertyValues[i].Language)" target="_blank">
                    <img src="/App_Themes/Default/Images/Tools/png/edit.png" alt="Edit" />
                </a>
            </td>
        </tr>
    }
</table>