@using System.Web.Mvc.Html
@using EPiServer.Core
@inherits System.Web.Mvc.WebViewPage<EPiServer.SpecializedProperties.PropertyContentArea>

@if (Model != null && Model.Value != null && ((ContentArea)Model.Value).Items.Any())
{
    <ul>
        @foreach (var item in ((ContentArea)Model.Value).Items)
        {
            <li>
                @Html.Action("RenderContentReference", "PropertyViewer", new { contentReference = item.ContentLink, language = ViewData["language"] })
            </li>
        }
    </ul>
}
