<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Episerver" value="https://nuget.episerver.com/feed/packages.svc/" />
    <add key="Local" value="Zone.Episerver.PropertyViewer\Packager\" />
  </packageSources>
</configuration>